* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: 120px 1fr 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  background-color: #1867c0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  z-index: 1;
  box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}

.header > h1 {
  margin: 0px;
  font-weight: 300;
  font-size: 2.8rem;
}

.header > h2 {
  margin: 0px;
  font-weight: 200;
  font-size: 1.6rem;
}

.main {
  grid-area: main;
  height: calc(100vh - 180px);
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}

.footer {
  grid-area: footer;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  padding-right: 20px;
  color: lightgray;
}

.modules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.module {
  flex-basis: 32%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.module > h3 {
  margin: 0px;
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #1867c0;
}

.module > ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

.module > ul > li {
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.module > ul > li > a {
  display: flex;
  text-decoration: none;
  color: #222;
}

.module > ul > li:hover {
  background-color: #EEE;
}

.module.green { border: 2px solid #4CAF50; }
.module.green > h3 { background-color: #4CAF50; }

.module.red { border: 2px solid #F44336; }
.module.red > h3 { background-color: #F44336; }

.module.blue { border: 2px solid #2196F3; }
.module.blue > h3 { background-color: #2196F3; }

.module.purple { border: 2px solid #9C27B0; }
.module.purple  > h3{ background-color: #9C27B0; }

.module.orange { border: 2px solid #FF9800; }
.module.orange > h3 { background-color: #FF9800; }

.module.dark-green { border: 2px solid #1B5E20; }
.module.dark-green > h3 { background-color: #1B5E20; }

.module.dark-red { border: 2px solid #B71C1C; }
.module.dark-red > h3 { background-color: #B71C1C; }

.module.dark-blue { border: 2px solid #0D47A1; }
.module.dark-blue > h3 { background-color: #0D47A1; }

.module.dark-purple { border: 2px solid #4A148C; }
.module.dark-purple > h3 { background-color: #4A148C; }